@font-face{ 
	font-family: 'Conduit';
    src: url('../fonts/ConduitITCStd-Regular.woff') format('woff'),
         url('../fonts/ConduitITCStd-Regular.woff2') format('woff2');
}

@font-face{ 
	font-family: 'Potra';
    src: url('../fonts/Potra.woff') format('woff'),
        url('../fonts/Potra.woff2') format('woff2');
}

#logo_page
{
	position: relative;
	left: 0.5em;
}

.boite
{
	width: 300px;
	/* border: 0.1em solid black; */
	margin: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgb(171,172,174), -2px -2px 2px rgb(171,172,174), 1px -1px 1px rgb(171,172,174), -1px 1px 1px rgb(171,172,174); 
}


.sous-boite
{
	padding: 6px;
	text-align: center;
	color: #478AAB;
}
.centree
{
	margin-left: auto;
	margin-right: auto;
}

#start
{
	text-align: center;
}

nav, h5
{
	font-family: 'Potra';
}

section
{
	font-family: 'Conduit';
}

strong
{
	font-weight: normal;
	color: #478AAB;
	
}

p
{
	text-align: justify;
	color: black;
	font-size : 0.8em;
	opacity: 0.7; 
}


section
{
	margin: 1%;
}

h1
{
	border-radius: 10px;
 	text-align: center;
 	font-size : 3.0em;
}

h2
{
	border-radius: 10px;
	margin: 1%;
	font-size : 1.5em;
	color: #478AAB;
}

h3
{
	color: #478AAB;
}
body
{
	background-color: #F8F9FA;
	font-size: 1.2em;
}

a
{
 color: red;
 font-style: justify;
}


hr
{ 
    border-width: 10px;
	background-color: black;
	position: relative;
	top: -1.2em;
}


figure figcaption
{
	text-align: center;
	font-size: small;
}

.img-exemple
{
	display: block;
	border: 3px ridge #478AAB;;
	margin: auto;
	width: 30%;
	height: auto;
}

.img-exemple img
{
	width: 100%;
	height: auto;
}

.questionnaire
{
	margin: 1%;
}


.exemple
{
	font-style: italic;
	font-size: small;
}

.navbar-brand
{
	margin: 0.5em 0 0.5em 0;
}
