@font-face {
	font-family: 'redressedregular';
	src: url('fonts/redressed_regular_macroman/Redressed-webfont.eot');
	src: url('fonts/redressed_regular_macroman/Redressed-webfont.eot?#iefix') format('embedded-opentype'),
     	url('fonts/redressed_regular_macroman/Redressed-webfont.woff') format('woff'),
     	url('fonts/redressed_regular_macroman/Redressed-webfont.ttf') format('truetype'),
     	url('fonts/redresed_regular_macroman/Redressed-webfont.svg#redressedregular') format('svg');
}

p
{
	text-align: justify;
	color: black;
	font-size : 0.8em;
	opacity: 0.7; 
}


section
{
	margin: 1%;
}

h1
{
	border-radius: 10px;
 	text-align: center;
 	color: darkblue;
 	font-family: 'redressedregular', serif;
 	font-size : 3.0em
}

h2
{
	border-radius: 10px;
 	text-decoration: underline;
	margin: 1%;
font-family: 'redressedregular', serif;
font-size : 1.0em;
}

body
{
	background-color: #F8F9FA;
}

a
{
 color: red;
 font-style: justify;
}

.questionnaire
{
	margin: 1%;
}


.exemple
{
	font-style: italic;
	font-family: 'redressedregular';
	font-size: small;
}